@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Monoton&display=swap');

/*///////////
////globals////
///////////*/
html {
    height: 100%;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    min-height: 100%;
    font-family: 'Gabriela', serif;
    color: #02305A;
    background-color: rgba(188, 215, 254, 0.15);
    justify-content: space-around;
}

.machineScore, .playerScore{
    font-family: 'Monoton', cursive;
    font-size: 96px;
    font-weight: 400;
    color: rgb(73, 73, 73);
}

/*///////////
////choice////
///////////*/

.choice{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8em;
    margin-top: 4em;
}
.choice img{
    transition: all 0.15s;
}
.imageHover{
    transform: scale(1.2);
}
/*///////////
////score////
///////////*/

.score{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4em;
}

.dash{
    font-size: 128px;
    font-weight: 400;
    text-align: center;
}

/*//////////////
////endgame////
////////////*/
